$sidebar-width: 200px;
$selection-foreground-color: #800;
$section-background: #888;
$explanation-background: #AAF;
$exercise-pass-background:  #AFA;
$exercise-fail-background: #FAA;
$exercise-unknown-background: #AAA;


#root {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

p {
  text-align: justify;
}

p,li {
  code {
    background: rgba(80, 80, 80, 0.5);
    padding: 2px 4px;
    font-family: 'Courier New', Courier, monospace;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.code-container {
  margin: 0.5em auto;
  width: 80%;
  opacity: 80%;

  .code-container-header {
    position: relative;
    height: 1em;

    .code-container-caption {
      position: absolute;
      background: black;
      right: 0;
      bottom: 0;
      padding: 0.2em 1em;
      font-size: 0.5rem;
      user-select: none;
      cursor: auto;
    }
  }

  pre {
    margin: 0;
  }
}

#sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  user-select: none;
  cursor: pointer;

  .navigation-button-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navigation {
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      color: black;
      border-radius: 25px;
      background: #444;

      svg {
        transform: scale(2);
      }

      &:hover {
        background: #FFF;
      }

      &.next {

      }

      &.previous {

      }

      &.parent {

      }

      &.enabled {
        background: #AAA;
      }
    }
  }
}

#main-view-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: $sidebar-width;

  #main-view {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    padding: 0.5em;

    & > h1 {
      margin: 0;
      background: #000;
      padding: 0.25em;
    }
  }

  .horizontal-table {
    table {
      td {
        &:first-child {
          font-weight: bold;
        }

        padding: 0.2em 0.4em;
      }
    }
  }

  .inner-borders {
    table {
      border-collapse: collapse;

      td {
        border: 1px solid white;
      }
    }
  }
}

#control-panel {
  position: fixed;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background: black;
}

.overview-root-container {
  a {
    text-decoration: none;
    color: black;
  }

  .overview-entry {
    border-top: 1px solid rgba(#000, 0.1);

    & > .overview-entry-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      text-align: center;

      & > .overview-entry-header-symbol {
        float: right;
        padding: 0.2em;
        opacity: 75%;
        color: black;
        font-size: 1rem;

        & > .symbol-container {
          display: grid;

          & > * {
            grid-column-start: 1;
            grid-row-start: 1;
          }

          &:hover {
            & > .difficulty {
              visibility: hidden;
            }

            & > .refresh {
              visibility: visible;
            }
          }

          &:not(:hover) {
            & > .difficulty {
              visibility: visible;
            }

            & > .refresh {
              visibility: hidden;
            }
          }
        }
      }
    }

    a {
      width: 100%;
      font-weight: 100;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &.selected {
      & > .overview-entry-header {
        & > a {
          color: $selection-foreground-color;
          font-weight: 600;
        }
      }
    }

    &.child-selected {
      & > .overview-entry-header {
        & > a {
          background: lighten($section-background, 30%);
          font-weight: 600;
        }
      }
    }

    &.section {
      border-left: #44a 4px solid;
      margin: 2px 0 0 4px;
      background: $section-background;

      & > .overview-entry-header {
        margin: 0;

        &:hover {
          background-color: lighten($section-background, 33%);
        }
      }

      & .section-children {
        overflow: hidden;
      }

      &.expanded {
        & > .section-children {
          display: block;
        }
      }

      &.collapsed {
        & > .section-children {
          display: none;
        }
      }
    }

    &.explanation {
      background: $explanation-background;

      &:hover {
        background: lighten($explanation-background, 33%);
      }
    }

    &.exercise {
      &.pass {
        background: $exercise-pass-background;

        &:hover {
          background: lighten($exercise-pass-background, 33%);
        }
      }

      &.fail {
        background: $exercise-fail-background;

        &:hover {
          background: lighten($exercise-fail-background, 33%);
        }
      }

      &.unknown {
        background: $exercise-unknown-background;

        &:hover {
          background: lighten($exercise-unknown-background, 33%);
        }
      }
    }
  }
}

.admonition {
  border-radius: 10px;
  width: 80%;
  margin: 1em auto;

  .admonition-header > h1 {
    user-select: none;
    cursor: default;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: rgba($color: #000, $alpha: 0.2);
    padding: 0.2em 0.5em;
    border-radius: 10px 10px 0 0;

    & .admonition-symbol {
      margin-right: 0.5em;
      transform: scale(1.5);

      g {
        stroke: white;
        fill: white;
      }
    }
  }

  & .admonition-body {
    padding: 0.2em 1em;
  }

  &.warning {
    background: maroon;
  }

  &.important {
    background: peru;
  }

  &.video {
    background: darkslategray;
  }

  &.question {
    background: yellowgreen;
  }

  &.task {
    background: royalblue;
  }

  &.info {
    background: darkcyan;
  }

  &.example {
    background: #AAF;
  }
}

.hint {
  border-radius: 10px;
  padding: 0.75em 1em;
  width: 80%;
  margin: 1em auto;

  .card {
    text-decoration: none;
    color: white;

    &:focus .card-faces {
      transform: rotateY(180deg);
    }

    .card-faces {
      display: flex;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      .card-front, .card-back {
        min-width: 100%;
        backface-visibility: hidden;
      }

      .card-front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: mediumpurple;

        &:hover {
          background-color: lighten(mediumpurple, 5%);
        }

        & > h1 {
          user-select: none;
          cursor: default;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          & .hint-symbol {
            margin-right: 0.5em;
            transform: scale(1.5);

            g {
              stroke: white;
              fill: white;
            }
          }
        }
      }

      .card-back {
        display: flex;
        transform: rotateY(180deg) translate(100%, 0);
        background-color: mediumpurple;

        .card-back-contents {
          padding: 0 1em 0 1em;
        }
      }
    }
  }
}

.usage {
  position: relative;
  background: black;
  width: 75%;
  margin: 1em auto;

  & > header {
    position: absolute;
    padding: 0.25em 0.5em;
    right: 0;

    & > h1 {
      margin: 0;
      font-size: 0.75rem;
      text-align: right;
      font-weight: 200;
      opacity: 50%;
    }
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  padding: 3px 5px;
  background: #000;
  color: #f8f8f8;

  .hljs-comment,.hljs-meta,.hljs-quote {
    color: #7c7c7c;
  }

  .hljs-keyword,.hljs-name,.hljs-selector-tag,.hljs-tag {
    color: #96cbfe;
  }

  .hljs-attribute,.hljs-selector-id {
    color: #ffffb6;
  }

  .hljs-addition,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-string {
    color: #a8ff60;
  }

  .hljs-subst {
    color: #daefa3;
  }

  .hljs-link,.hljs-regexp {
    color: #e9c062;
  }

  .hljs-doctag,.hljs-section,.hljs-title,.hljs-type {
    color: #ffffb6;
  }

  .hljs-bullet,.hljs-literal,.hljs-symbol,.hljs-template-variable,.hljs-variable {
    color: #c6c5fe;
  }

  .hljs-deletion,.hljs-number {
    color: #ff73fd;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}

#main-view {
  .viewer {
    & > h1, h2, h3, h4 {
      background: black;
      text-align: center;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.5em;
      padding: 0.5em;
      width: 90%;
      box-shadow: #333 2px 2px;

      &:not(:first-child) {
        margin-top: 2em;
      }
    }

    &.section {
      a {
        color: black;
        text-decoration: none;
        user-select: none;
      }

      .tile-container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;

        .tile {
          width: 150px;
          height: 150px;
          margin: 2px;
          position: relative;
          color: black;
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .symbol {
            svg {
              width: 80%;
              height: 80%;
            }

            .difficulty {
              font-size: 5em;
            }

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 150px;
            height: 150px;
            transform-origin: center;
            opacity: 12.5%;
            user-select: none;
            pointer-events: none;
          }

          .caption-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .caption {
              font-size: 1.2rem;
              text-align: center;
            }
          }

          &.section {
            background-color: $section-background;

            &:hover {
              background-color: lighten($section-background, 33%);
            }
          }

          &.exercise {
            &.pass {
              background-color: $exercise-pass-background;

              &:hover {
                background-color: lighten($exercise-pass-background, 33%);
              }
            }

            &.fail {
              background-color: $exercise-fail-background;

              &:hover {
                background-color: lighten($exercise-fail-background, 33%);
              }
            }

            &.unknown {
              background-color: $exercise-unknown-background;

              &:hover {
                background-color: lighten($exercise-unknown-background, 1.33);
              }
            }
          }

          &.explanation {
            background-color: $explanation-background;

            &:hover {
              background-color: lighten($explanation-background, 33%);
            }
          }
        }
      }
    }

    &.explanation {

    }

    &.exercise {

    }
  }
}

.formatted-table table {
  border-collapse: collapse;
  margin: 0.5em 0em 1em 0em;

  thead {
    th {
      border-bottom: 2px solid white;
      padding-right: 2em;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #444;
    }

    tr {
      height: 1em;
      line-height: 1.5;

      td {
        padding-left: 0.2em;
        padding-right: 2em;
      }
    }
  }
}
